<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Grupo</title>
    
</head>
<body>
    <h1>Cadastrar Grupo</h1>
    <form method="post">
        {% csrf_token %}
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required><br>
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" required></textarea><br>
        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="True">Ativo</option>
            <option value="False">Inativo</option>
        </select><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>