<!DOCTYPE html>
<html>
<head>
    <title>Listar Grupos</title>
    
</head>
<body>
    <h1>Listar Grupos</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Data de Criação</th>
            <th>Ações</th>
        </tr>
        {% for grupo in grupos %}
        <tr>
            <td>{{ grupo.id }}</td>
            <td>{{ grupo.titulo }}</td>
            <td>{{ grupo.descricao }}</td>
            <td>{{ grupo.status }}</td>
            <td>{{ grupo.data_criacao }}</td>
            <td>
                <a href="{% url 'editar_grupo' grupo.id %}">Editar</a>
                <a href="{% url 'excluir_grupo' grupo.id %}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'cadastrar_grupo' %}">Cadastrar Grupo</a>
</body>
</html>